<section id="sobre" style="background-color:#eaff8d; width:100%; height: 100%; padding:10px">
  <style>
    #comofoi, p{
      text-align: justify;
    }
    #oq {
      text-align: justify;
    }
    #oq, h2{
      font-size: 40px;
    }
  </style>
  <div>
      <h1>Quem somos?</h1>
      <p>
          Muito bem, hora das apresentações! Nós somos:
      </p>
      <div>
          <img alt="Pessoa 1">
          <img alt="Pessoa 2">
          <img alt="Pessoa 3">
      </div>
      <p>
        E nós decidimos fazer esse site como nosso projeto porque [insira o porque aqui].
      </p>
  </div>
  <div id="comofoi">
    <h1>
      Ararahistory: Como foi fazer
    </h1>
    <p>
      Certo, agora que estamos introduzidos, vamos ao que realmente importa: como foi fazer o site.
    </p>
    <br>
    <p>
      Bem, fazer o site foi um processo interessante, para dizer o mínimo. Alguns de nós já tinhamos experiência com criação de sites e tudo mais. Mas já que estamos aqui para aprender, por que não tentar coisas novas, não é?
    </p>
    <p>
      A primeira versão do site foi feita com o báscico do básico da <i>prog web</i>: <b>HTML</b>, <b>CSS</b> e <b>JS</b>. Foi uma base sólida e até bem funcional, modéstia à parte. O ponto é que a equipe decidiu fazer uma mudança, sair do <b>HTML</b> e ir para o React, não só por ser uma coisa que ainda não conhecíamos mas que poderíamos aprender ainda mais se o projeto fosse feito nele.
    </p>
    <br>
    <p>
      Após migrarmos para o novo ambiente, enfrentamos as dificuldades de sempre: uma linguagem nova e quase desconhecida, funcionalidades diferentes mas parecidas, novas praticidades e complexidades. O de sempre.
    </p>
    <p>
      Foi uma experiência, sem sombra de dúvidas. Cada um de nós estava cuidando de diferentes áreas do site, conteúdo, estrutura, funcionalidades, etc. Mas ao final, voltamos ao início, retornando ao <b>HTML</b>, agora com <b>Django</b>. E o que está vendo agora é o resultado disso, dessa terceira versão do projeto, depois de sair do puro <b>HTML</b>, para React, para voltar ao <b>HTML</b>. É, o fruto não cai muito longe do pé... ou algo assim.
    </p>
  </div>
  <div id="oq">
    <h1>
      O que aprendemos?
    </h1>
    <p>
      No fim, esse curso ensinou muita coisa para nós. Desde o básico da <i>prog web</i> até coisas que nenhum de nós conhecia. Aqui está um pouco do que vimos:
    </p>
    <h2>
      HTML
    </h2>
    <p>
      A linguagem de marcação de hipertexto, o <b>HTML</b> é o mais básico para se saber quando se está criando qualquer coisa para a web. Como é apenas uma forma de explicar para o navegador o que vai em cada lugar, não se pode dizer que é uma linguagem de programação.
    </p>
    <h2>
      CSS
    </h2>
    <p>
      A "Folha de Estilos em Cascata" ou <i>Cascading Style Sheets</i>, o <b>CSS</b> serve para estilizar os elementos no <b>HTML</b>. De mudanças de cor até rotação, espaçamento e quase tudo mais que se possa pensar, o <b>CSS</b> é capaz de fazer com os elementos dentro do site.
    </p>

  </div>
</section>