<section id="sobre" style="background-color:#eaff8d; width:100%; height: 100%; padding:10px">
  <style>
    #comofoi, p{
      text-align: justify;
    }
    #oq {
      text-align: justify;
    }
    h1{
      font-size: 40px;
    }
    h2{
      font-size: 25px;
    }
  </style>
  <div>
      <h1>Quem somos?</h1>
      <p>
          Muito bem, hora das apresentações! Nós somos:
      </p>
      <div>
          
          <h2>
            <u>Nome</u>
          </h2>
          <p>
            Descrição
          </p>
          <h2>
            <u>Nome</u>
          </h2>
          <p>
            Descrição
          </p>
          <h2>
            <u>Felipe "Mr. Mpedia" Borges Carvalho</u>
          </h2>
          <p>
            Programador já há um tempo. Mas foco mais em gamedev e coisas com certeza muito úteis para a sociedade.
          </p>
          <br>
      </div>
      <p>
        E nós decidimos fazer esse site como nosso projeto porque [insira o porque aqui].
      </p>
  </div>
  <div id="comofoi">
    <h1>
      Ararahistory: Como foi fazer
    </h1>
    <p>
      Certo, agora que estamos introduzidos, vamos ao que realmente importa: como foi fazer o site.
    </p>
    <br>
    <p>
      Bem, fazer o site foi um processo interessante, para dizer o mínimo. Alguns de nós já tinhamos experiência com criação de sites e tudo mais. Mas já que estamos aqui para aprender, por que não tentar coisas novas, não é?
    </p>
    <p>
      A primeira versão do site foi feita com o báscico do básico da <i>prog web</i>: <b>HTML</b>, <b>CSS</b> e <b>JS</b>. Foi uma base sólida e até bem funcional, modéstia à parte. O ponto é que a equipe decidiu fazer uma mudança, sair do <b>HTML</b> e ir para o <b>React</b>, não só por ser uma coisa que ainda não conhecíamos mas que poderíamos aprender ainda mais se o projeto fosse feito nele.
    </p>
    <br>
    <p>
      Após migrarmos para o novo ambiente, enfrentamos as dificuldades de sempre: uma linguagem nova e quase desconhecida, funcionalidades diferentes mas parecidas, novas praticidades e complexidades. O de sempre.
    </p>
    <p>
      Foi uma experiência, sem sombra de dúvidas. Cada um de nós estava cuidando de diferentes áreas do site, conteúdo, estrutura, funcionalidades, etc. Mas ao final, voltamos ao início, retornando ao <b>HTML</b>, agora com <b>Django</b>. E o que está vendo agora é o resultado disso, dessa terceira versão do projeto, depois de sair do puro <b>HTML</b>, para <b>React</b>, para voltar ao <b>HTML</b>. É, o fruto não cai muito longe do pé... ou algo assim.
    </p>
  </div>
  <div id="oq">
    <h1>
      O que aprendemos?
    </h1>
    <p>
      No fim, esse curso ensinou muita coisa para nós. Desde o básico da <i>prog web</i> até coisas que nenhum de nós conhecia. Aqui está um pouco do que vimos:
    </p>
    <h2>
      HTML
    </h2>
    <p>
      A linguagem de marcação de hipertexto, o <b>HTML</b> é o mais básico para se saber quando se está criando qualquer coisa para a web. Como é apenas uma forma de explicar para o navegador o que vai em cada lugar, não se pode dizer que é uma linguagem de programação.
    </p>
    <h2>
      CSS
    </h2>
    <p>
      A "Folha de Estilos em Cascata" ou <i>Cascading Style Sheets</i>, o <b>CSS</b> serve para estilizar os elementos no <b>HTML</b>. De mudanças de cor até rotação, espaçamento e quase tudo mais que se possa pensar, o <b>CSS</b> é capaz de fazer com os elementos dentro do site.
    </p>
    <h2>
      JavaScript
    </h2>
    <p>
      O último membro da santa trindade da <i>prog web</i>. Enquanto uma é marcação, outra estilo, essa é funcionalidade. <b>JavaScript</b>, ou <b>JS</b> para os mais íntimos é simplesmente uma linguagem de programação de fato. O que é ótimo. Com <b>JavaScript</b> você pode adicionar funcionalidades para o site além de implementar ainda mais o que já tem.
    </p>
    <h2>
      PHP
    </h2>
    <p>
      Antigo <i>Personal Home Page</i> e atual <i>PHP: Hypertext Processor</i>, o PHP é um avô das linguagens usadas na web, estando aí desde 1995 e servindo... bem, basicamente para tudo, mas principalmente para interação com o banco de dados.
    </p>
    <h2>
      SQL
    </h2>
    <p>
      A "Linguagem de Consulta Estruturada" ou <i>Structured Query Language</i> é basicamente a única forma de fazer consultas com bancos de dados. Pelo menos todo mundo usa ela. No fim, é uma das mais fáceis de entender, visto que só usamos para mexer com o banco de dados.
    </p>
    <h2>
      React
    </h2>
    <p>
      Certo, essa é meio que uma trapacinha. <b>React</b> não é exatamente uma linguagem, é mais uma biblioteca de <b>JS</b>, então faria sentido colocar também na lista coisas como <b>JQuerry</b> ou <b>Bootstrap</b>? Talvez, mas não usamos tanto quanto usamos o <b>React</b>, então não vale a pena colocar.
    </p>
  </div>
</section>