<section id="sobre" style="background-color:#eaff8d; width:100%; height: 100%; padding:10px">
  <style>

  </style>
  <div>
      <h1>Quem somos?</h1>
      <p>
          Muito bem, hora das apresentações! Nós somos:
      </p>
      <div>
          <img alt="Pessoa 1">
          <img alt="Pessoa 2">
          <img alt="Pessoa 3">
      </div>
      <p>
        E nós decidimos fazer esse site como nosso projeto porque [insira o porque aqui].
      </p>
  </div>
  <div>
    <h1>
      Ararahistory: Como foi fazer
    </h1>
    <p>
      Certo, agora que estamos introduzidos, vamos ao que realmente importa: como foi fazer o site.
    </p>
    <p>
      Bem, fazer o site foi um processo interessante, para dizer o mínimo. Alguns de nós já tinhamos experiência com criação de sites e tudo mais. Mas já que estamos aqui para aprender, por que não tentar coisas novas, não é?
    </p>
  </div>

</section>