<style>
  .tab {
    width: 100%;
    height: 100%;
  }
</style>
<nav class="nav-extended" style="box-shadow: 10px 10px 10px 10px;">
<div style="display:flex; flex-direction: column; width: 100vw; background-color: darkBlue; display: flex; align-items: center; padding: 0">
    <div style="width: 100%; display: flex; align-items: left;">
    <p style="font-family: Poppins; font-size: 20px; color: white; margin-left:20px">Ararahistory</p>
</div>
    <div class="nav-content" style="width:100%; background-color: blue; padding: 0%">
        <ul class="tabs tabs-transparent" style="display: flex; flex-direction: row; justify-content: space-around;">
          <li class="tab"><a class="active" href="#inicio">INÍCIO</a></li>
          <li class="tab"><a href="#artigos">ARTIGOS</a></li>
          <li class="tab"><a href="#sobre">SOBRE</a></li>
          <li class="tab disabled"><a href="#test4">TESTE</a></li>
        </ul>
      </div>
</div>
</nav>